@font-face {
    font-family: "battle";
    src: url("/static/NuAnkoMochi-BarHrE-1.otf");
}
body {
    background-image: url(/static/summon_back.png);
    background-size: cover;
    height: 1000px;
}
.summon {
    font-family: "battle";
    width: 40vw;
    margin: 0 auto;
    input {
        height: 30px;
        width: 400px;
    }
    .input-title {
        display: inline-block;
        width: 15%;
    }
    .summon-btn-block {
        text-align: right;
    }
}

.monster {
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 50% 50%;
    .picture-block {
        background-image: url(/static/pict.png);
        background-size: cover;
        background-position: center;
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }
    .status-block {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .status-name {
            display: inline-block;
            width: 20%;
        }
        .status-param {
            display: inline-block;
        }
    }
    .button-block {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        // display: flex;
        justify-content: center;
        align-items: center;
        .button {
            height: 45px;
        }
    }
}
.modaal-container {
    background-color: inherit;
}
.status-name {
    display: inline-block;
    width: 30%;
}
.status-param {
    display: inline-block;
}
.name {
    font-size: 2em;
}
.horizon {
    border-top: 1px solid rgb(255,255,255);
    margin: auto;
}
.manage-box {
    display: grid;
    // grid-template-rows: 100%;
    grid-template-columns: 60% 40%;
}
.image-box {
    height: 615px;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-row: 1 / 2;
    // grid-column: 1 / 1;
}
.monster-box {
    height: 615px;
    overflow: auto;
    grid-row: 1 / 2;
    // grid-column: 1 / 1;
}
.status-box {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 70% 30%;
}
.name-box {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.parameter {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.baibai {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.image-name {
    grid-column: 1 / 2;
}
.image {
    grid-column: 1 / 2;
    text-align: center;
}
.manage-monster {
    font-family: "battle";
    width: 70vw;
    margin: 0 auto;
    input {
        height: 30px;
        width: 400px;
    }
    .input-title {
        display: inline-block;
        width: 15%;
    }
    .summon-btn-block {
        text-align: right;
    }
}
.header {
    display: flex;
    justify-content: space-between;
}
.divide {
    background-color: white;
}
span.register {
    text-decoration: underline;
}
