{% extends "base.html" %}
{% block title %}
    <title>sample_index</title>
{% endblock %}
{% block static %}
    <link rel="stylesheet" type="text/css" href="/static/css/farm.css">
    <link href="https://unpkg.com/nes.css@2.2.0/css/nes.min.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/farm.js"></script>
{% endblock %}
{% block body %}
    <div class=manage-monster>
        <h1>モンスターかんり</h1>
            <div class="manage-box">
                {% if monsters != None %}
                    <div class="nes-container is-dark image-box">
                        <div class="name image-name">
                            <span id="selected-monster">{{ monsters[0].name }}</span>
                            <hr class="horizon">
                        </div>
                        <div class="image">
                            <img src="/static/blue_monster.png" alt="battler1" id="character1" width="70%">
                        </div>
                    </div>
                    <div id="select-box">
                    {% include "select_monster.html" %}
                    </div>
                {% else %}
                    モンスターがいません
                {% endif %}
            </div>
    </div>
{% endblock %}
