{% extends "base.html" %}
{% block title %}
    <title>redis</title>
{% endblock %}
{% block static %}
    <link rel="stylesheet" type="text/css" href="/static/css/sample.css">
    <script type="text/javascript" src="/static/js/sample.js"></script>
{% endblock %}
{% block body %}
    <h2 class="sample">モンスター管理</h2>
    <form method="post" action="monsters">
        <div>
            <select id="team" name="team">
            {% for team in params.teams %}
                <option value={{ team }}>{{ team }}</option>
            {% endfor %}
            </select>
        </div>
        <input value="取得" type="submit">
    </form>
    <br>
    <div>モンスター一覧</div>
    {% if params.monsters == '' %}
        <div>{{ params.monsters }}</div>
    {% else %}
        {% for monster in params.monsters %}
        <div>名前: {{ monster.name }}</div>
        <div>HP: {{ monster.hp }}</div>
        <div>power: {{ monster.power }}</div>
        <div>defence: {{ monster.defence }}</div>
        <div>attribute: {{ monster.attribute }}</div>
        <br>
        {% endfor %}
    {% endif %}
    <br>
    <div>モンスター登録<div>
    <form method="post" action="register_monster">
        <div>
            <select id="team-name" name="team-name">
            {% for team in params.teams %}
                <option value={{ team }}>{{ team }}</option>
            {% endfor %}
            </select>
        </div>
        <div>名前: <input type="text" id="name" name="name" value=""></div>
        {# <div>HP: <input type="text" id="hp" name="hp" value=""></div> #}
        {# <div>攻撃力: <input type="text" id="power" name="power" value=""></div> #}
        {# <div>防御力: <input type="text" id="defence" name="defence" value=""></div> #}
        {# <div>属性: <input type="text" id="attribute" name="attribute" value=""></div> #}
        <input value="登録" type="submit">
    </form>
    <a href="index">戻る</a>
{% endblock %}
