{% extends "base.html" %}
{% block title %}
    <title>sample_index</title>
{% endblock %}
{% block static %}
    <link rel="stylesheet" type="text/css" href="/static/css/battle.css">
    <script type="text/javascript" src="/static/js/sample.js"></script>
    <link href="https://unpkg.com/nes.css@2.2.0/css/nes.min.css" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div class="battle">
        <div class="battle-status">
            <div class="battle-status-hit_point">
                <progress class="nes-progress" value="90" max="100"></progress>
                <!-- <progress class="nes-progress is-primary" value="80" max="100"></progress>
                <progress class="nes-progress is-success" value="50" max="100"></progress>
                <progress class="nes-progress is-warning" value="30" max="100"></progress>
                <progress class="nes-progress is-error" value="10" max="100"></progress>
                <progress class="nes-progress is-pattern" value="50" max="100"></progress> -->
            </div>
            <div class="battle-status-turn_count nes-container is-rounded"><p>4/20</p></div>
            <div class="battle-status-hit_point">
                <progress class="nes-progress is-success" value="50" max="100"></progress>
            </div>
        </div>
        <div class="battle-character">
            <img src="/static/blue_monster.png" alt="battler1" id="character1">
            <img src="/static/green_monster.png" alt="battler1" id="character2">
        </div>
        <div class="battle-spec nes-table-responsive">
            <table class="nes-table is-bordered is-centered">
                <tbody>
                    <tr id="spec1">
                        <td>こうげき</td>
                        <td>1234</td>
                    </tr>
                    <tr>
                        <td>ぼうぎょ</td>
                        <td>4567</td>
                    </tr>
                </tbody>
            </table>
            <table class="nes-table is-bordered is-centered">
                <tr id="spec2">
                    <td>こうげき</td>
                    <td>1234</td>
                </tr>
                <tr>
                    <td>ぼうぎょ</td>
                    <td>4567</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}