@font-face {
    font-family: "battle";
    src: url("/static/NuAnkoMochi-BarHrE-1.otf");
}
body {
    background-image: url(/static/summon_back.png);
    background-size: cover;
    height: 1000px;
}
.summon {
    width: 70vw;
    margin: 0 auto;
    font-family: "battle";
}
.summon input {
    height: 30px;
    width: 400px;
}
